/* Variables globales */
:root {
    --border-colorr: rgb(114, 37, 68);
    --color-letras: rgba(234, 125, 169, 1);

  }
  
  /* Estilos generales */
  body {
    
    margin: 0;
    font-family: Arial, sans-serif;

  }
  .navbar {
    display: grid;
    grid-template-columns: auto 1git0fr; /* Primera columna para el logo, segunda columna para los enlaces */
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
  }
  .navbar__logo img {
    max-width: 90px; /* Ajusta el tamaño de acuerdo a tu logo */

  }
  .navbar__links {
    display: flex;
    gap: 50px; /* Espacio entre los enlaces */
     justify-content: center;
     margin-right: 300px;   
  }
  .navbar__link {

    text-decoration: none;
    padding: 10px 30px; /* Aumenta el espacio interno */
    border: 3px solid ; /* Borde transparente */
    border-color: var(--border-colorr);
    border-radius: 5px; /* Añade esquinas redondeadas */
    transition: transform 0s ease; /* Transición para el efecto hover */

  }
  .navbar__link:hover {
    transform: translateY(-2px); /* Eleva ligeramente el enlace */
      
}
  
a {
color:var(--color-letras)
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* Tres filas */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-gap: 10px;
    padding: 10px;
    height: 100vh; /* 100% de la altura de la ventana del navegador */
    left:100px;
    margin-top: 50px;
}
  
  .item1 {
    padding: 0px;
    display: flex;
    justify-content: left;
    margin-top: -50px;
    margin-left: 150px;
    
    
  }

  .img1 {
    height: 60px;
    width: 100px;
    transform: rotate(360deg);
}
.item3{
display: flex;
justify-content: center;



}

.item2{
    color: var(--color-letras);
    font-size: 32px;
    display: flex;
    justify-content: center;


}
.parrafo1{ 
margin-top: 50px;
margin-right:1px ;
transform: rotate(350deg);

}



.img2{
height: 400px;
width:auto;
transform:rotate(); 
display: flex;
margin-right: 100px;
}

/* Rectangle 47 */

.mediocirculos{
  height: 70px;
  width: 70x;
  display: flex;
  margin-top: 10px;

}

.mediocirculo1{
  display: flex;
  justify-content: center;
  margin-left:-200px;
  margin-top: 200px;
}
.mediocirculo2{
display: flex;
justify-content: top;
margin-top: 100px;
}

.corazon{
  display: flex;
  justify-content: center;
  margin-left: 40px;
  height: 300px;
    width: 200px;
}
.Rectangle{
  height: 350px;
    width: 350px;
}

p{
  color: var(--color-letras);
  font-size: 35px;
}
.item6{
display: flex;
justify-content: left;
margin-left: -170px;
margin-top: 30px;

}
.contenido {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté encima del fondo */
}

.contenido::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(Rectangle31.png);
  background-size: cover;
  transform: translateY(650px); /* Mueve el fondo hacia abajo 50px */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}